.parentDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}
.dropDownButton {
	text-align: center;
	padding: 8px;
	border: 2px solid hsl(211, 39%, 37%);
	background-color: hsl(209, 88%, 61%);
	color: #04121f;
	width: max-content;
	z-index: 2;
}

.dropDownButton:hover {
	background-color: hsl(209, 68%, 55%);
	cursor: pointer;
}

.dropDownText {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropDownOptionsAbove {
	position: absolute;
	color: hsl(209, 77%, 7%);
	background-color: hsl(209, 88%, 61%);
	z-index: 3;
	bottom: 36px;
}

.dropDownOptionsBelow {
	position: absolute;
	color: #04121f;
	background-color: hsl(209, 88%, 61%);
	z-index: 3;
	top: 36px;
}

.dropDown {
	display: flex;
	flex-direction: column;
	max-height: 250px;
	overflow: scroll;
	overflow-x: hidden;
	min-width: max-content;
}

.individualOption {
	padding: 6px;
}

.individualOption:hover {
	background-color: hsl(209, 68%, 55%);
	cursor: pointer;
}

/* Scrollbar */
.dropDown::-webkit-scrollbar {
	width: 8px;
}
.dropDown::-webkit-scrollbar-track {
	margin: 2px;
	background: none;
	border-radius: 5px;
}
.dropDown::-webkit-scrollbar-thumb {
	border: 1px solid #555;
	border-radius: 0.5em;
}
.dropDown::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.dropDown::-webkit-scrollbar-thumb {
	background: #888;
}

.caret {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid hsl(209, 77%, 7%);
	transition: 0.3s;
}

.caretRotate {
	transform: rotate(180deg);
}
