.parentDiv {
	margin: 2px;
}

.backButtonFalse {
	text-align: center;
	padding: 8px;
	border: 2px solid #3a5d83;
	background-color: #2c659a75;
	color: #6b6b6b;
	width: 70px;
}

.backButtonFalse:hover {
	cursor: pointer;
}

.backButton {
	text-align: center;
	padding: 8px;
	border: 2px solid hsl(211, 39%, 37%);
	background-color: hsl(209, 88%, 61%);
	color: #04121f;
	width: 70px;
}

.backButton:hover {
	background-color: hsl(209, 68%, 55%);
	cursor: pointer;
}
